.footer{
    height: 60vh;
    width: 100%;
    background-color: rgb(19, 4, 19);
}
.lists{
    height: 30vh;
    margin: 50px 0px 0px 10px;
}

.headingf1{
    color: rgb(238, 220, 238);
    font-size: larger;
    font-weight: 500;
}

.headingf2{
    color: rgb(231, 186, 231);
}

.ending{
    position: absolute;
    display: block;
    margin-top: 40px;
    height: 15vh;
    width: 100%;
    color: rgb(231, 186, 231);
}

.paymentadd{
    height: 10vh;
    width: 100%;
    display: block;
    padding-top: 2vh;
}