.phase1{
    padding-top: 12vh;
    height: 100vh;
    background-image: image('blackgradient.png');
}

.text{
    position: absolute;
    height: 88vh;
    width: 100%;
}

.heading11{
    position: relative;
    top: 22%;
    color: rgb(45, 17, 68);
    font-size: 4rem;
    font-weight: 750;
}

.heading12{
    position: relative;
    top: 13%;
    color: rgb(45, 17, 68);
    font-size: 1.5rem;
    font-weight: 500;
}

.buy_now_button{
    position: absolute;
    top:60%;
    color: white;
    background-color: purple;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px 40px;
    text-shadow: 1px 2px 20px #000000;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
    background: rgb(140, 67, 158);
    font-size: larger;
}

.see_action_button{
    position: absolute;
    top: 60%;
    left: 30%;
    font-size: larger;
    padding: 9px 20px;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
}

.icons{
    position: absolute;
    top: 80%;
    display: flex;
    text-align: center;
}

.icontext{
    font-size: 1.1rem;
    font-weight: 600;
    padding: 20px 25px 3px 5px;
}